# ==========================================
# Python Runtime & Virtual Environment
# ==========================================
.venv/
env/
ENV/
__pycache__/
*.pyc
*.pyo
*.pyd

# ==========================================
# Environment Variables & Configuration (RAHASIA)
# ==========================================
.env
.env.*
instance/

# ==========================================
# Database & Live Data (WAJIB DIAMANKAN)
# ==========================================
# Ini akan mengabaikan semua file .db dan .sqlite di folder mana pun
*.db
*.sqlite
*.sqlite3

# Ini akan mengabaikan seluruh isi folder data/ tempat database lu berada
data/

# ==========================================
# Logs & Temporary Files
# ==========================================
*.log
logs/
tmp/

# ==========================================
# OS Garbage
# ==========================================
.DS_Store
Thumbs.db

# SSH Key Biznet Gio
*.pem
*.key


venv/
static/uploads/*
static/uploads/*
